.Wrapper {
  width: 60%;
}
.Wrapper > div {
  margin: 20px 0;
}
i {
  font-size: 12px;
}
@media (max-width: 500px) {
  .Wrapper {
    margin: 30% 0;
    width: 100%;
  }
  .Wrapper p {
    padding: 0 20px;
  }
  #canvasjs-react-chart-container-1 button {
    display: none;
  }
}
